    /* Colours */
    $header-background: #242424;
    $white: #ffffff;
    $link-hover: #acacac;
    $action-button-color:#242424;
    $border-grey: #efefef;
    $default-color: #555555 !default;
    $primary-hightlight-color: #000;

    $default-link-color: darkslategray !important;
    
    /* Font Size */
    $base-size: 16px !default;
    $font-xs: 0.6rem;
    $font-s: 0.8rem;
    $font-m: 1rem;
    $font-l: 1.5rem;
    $font-xl: 2rem;
    